
  <h4>Wijzig het wachtwoord voor gebruiker "{{ username }}"</h4>
  <br>

  <form name="editPasswordForm" ng-submit="updatePassword()" >
    <div class="input-group">
      <br>
      <input type="password" class="btn btn-default" name="newPassword" class="form-control" placeholder="Nieuw Wachtwoord" required ng-model="newPassword">
      <br>
      <br>
      <input type="submit" class="btn btn-default" id="submit" value="Wijzig Wachtwoord" />
    </div>
  </form>
  <br>
  <div class="invalidWarning">{{errorResponseText}}</div>
  <div class="successText">{{resultText}}</div>
