<div ng:controller="EditCustomerCtrl">
  <h4>Klant Wijzig Formulier</h4>
  <br>
  <li><a ng-show="loggedIn()"  ng-controller="LoginCtrl" ng-href="#/accountPassword">Wijzig password</a></li>

  <form name="editCustomerForm" ng-submit="updateCustomer()" ng-controller="EditCustomerCtrl">
    <div class="input-group">
      {{ username }}   <br>
      <input type="text" name="newPassword" class="form-control" placeholder="Nieuw Wachtwoord" required ng-model="newPassword">
      <br>
      <input type="submit" id="submit" value="Wijzig Wachtwoord" />
    </div>
  </form>
</div>
