<div ng:controller="LoginCtrl">
  <h4>Login Form</h4>
  <br>

  <form name="loginForm" ng-submit="loginCustomer()">
    <input type="text" name="username" class="form-control" placeholder="Username" ng-model="username"
           required ng-minlength="2">
    <div class="invalidWarning" ng-show="loginForm.username.$invalid && loginForm.username.$touched">Too short</div>
    <br>

    <input type="password" name="password" class="form-control" placeholder="Password"
           required ng-model="password">
    <br>
    <div ng-show="loginForm.$error.required">Required fields not filled in yet.</div>
    <div class="invalidWarning">{{errorResponseText}}</div>
    <input type="submit" id="submit" value="Login!" ng-disabled="loginForm.$invalid" class="btn btn-default"/>
  </form>
  <br>
</div>
