<div ng:controller="RegisterCtrl">
  <h4>Register Form</h4>
  <br>

  <form name="registerForm">
    <div class="input-group">
      <input type="text" name="username" class="form-control" placeholder="Username" ng-model="username"
             required ng-minlength="2">
      <span class="invalidWarning" ng-show="registerForm.username.$invalid && registerForm.username.$touched">Too short</span>

      <input type="password" name="password" class="form-control" placeholder="Password"
             required ng-model="password">

      <input type="text" name="firstName" class="form-control" placeholder="Firstname" ng-model="firstName"
             required ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/">
      <div class="invalidWarning" ng-show="registerForm.firstName.$invalid && registerForm.firstName.$touched">Too short</div>

      <input type="text" name="lastName" class="form-control" placeholder="Lastname" required ng-model="lastName"
             required ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/">
      <div class="invalidWarning" ng-show="registerForm.lastName.$invalid && registerForm.lastName.$touched">Too short</div>

      <input type="email" name="email" class="form-control" placeholder="Email" ng-model="emailAddress">
      <div class="invalidWarning" ng-show="registerForm.email.$invalid">Invalid email!</div>

      <input type="text" name="street" class="form-control" placeholder="Street name" ng-model="street"
              ng-minlenght="2" ng-pattern="/^[a-zA-Z\s]*$/">

      <input type="text" name="streetNumber" class="form-control" placeholder="Street number" ng-model="streetNumber"
              ng-pattern="/^[1-9]+[0-9]*\s?[a-zA-Z]?$/"> <!--Pattern allows numbers ending on an optional letter-->
      <div class="invalidWarning" ng-show="registerForm.streetNumber.$invalid && registerForm.streetNumber.$touched">Invalid street number</div>

      <input type="text" name="city" class="form-control" placeholder="City" ng-model="city"
              ng-pattern="/^[a-zA-Z\s]*$/"> <!--Pattern allows only letters and spaces-->

      <input type="text" name="zipcode" class="form-control" placeholder="Zipcode" ng-model="zipcode"
              ng-pattern="/^[1-9][0-9]{3}\s?[a-zA-Z]{2}$/"> <!--Pattern allows only valid Dutch postal codes-->
      <div class="invalidWarning" ng-show="registerForm.zipcode.$invalid && registerForm.zipcode.$touched">Invalid zipcode!</div>

    </div>
    <div ng-show="registerForm.$error.required">Required fields not filled in yet.</div>
    <div class="invalidWarning">{{errorResonseText}}</div>
    <button ng-disabled="registerForm.$invalid" type="button" class="btn btn-default" ng-click="registerCustomer()">Register!</button>
  </form>
  <br>
</div>


