/* Correct input. */
input.ng-valid {
  background-color: #ccffcc;
}

/* Invalid input after touched. (altered) */
input.ng-invalid.ng-touched {
  background-color: #ff8080;
  color:white;
}

/* Required input, invalid and un-altered. */
input.ng-invalid-required:empty {
  background-color: #ffffb3;
  color:white;
}

/* Disabled elements in forms */
 input:disabled, button:disabled {
  background-color: #595959;
  color: #bfbfbf;
}

/* Text warnings like: "Password is too short" */
.invalidWarning {
  color: red;
}

/* Text for a succesfull result. */
.successText {
  color: green;
}
